.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.tabrow {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  width: 100%;
  height: 7%;
  background-color: white;
  align-items: center;
  padding-left: 1.5%;
  box-sizing: border-box; /* Include padding in the width */
  z-index: 1000;
  justify-content: space-between;
}
.shoplogo {
  border-radius: 50%;
  height: 52.5px;
  width: 52.5px;
  cursor: pointer;
}
.icon {
  font-size: 45px;
  color: black;
}
.icondiv {
  margin-right: 2%;
  display: flex;
  gap: 12.5%;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.searchbar {
  padding: 10px;
  padding-left: 17.5px;
  width: 35%;
  height: 47.5%;
  border-radius: 17px;
  outline: none;
  font-size: 17.5px;
}

html,
body {
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 0.5rem;
}

.card-row {
  display: flex;
  gap: 1rem;
}
